.project-details {
  section{
    margin: .5rem 0;
    &.title {
      display: flex;
      align-items: center;
    }
    &.buttons {
      button {
        width: 55px;
      }
    }
    &.keywords {
      font-size: 1.1rem;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
    }
    &.project-images {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}