.project-details {
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    span {
      font-weight: bold;
    }
  }
  div {
    margin: 2rem 0;
    &.project-images {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}