@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.fixed-container {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
}

.content {
  max-width: 600px;
  margin: 160px auto 0;
  padding: 20px;
  h2 {
    font-size: 32px;
    color: $primaryColor;
    margin: 20px 0 10px;
  }
}

button {
  background: $primaryColor;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 5px 0 0;
  &.linkedin {
    background-color: #2867B2;
  }
  &.github{
    background-color: #333;
  }
  &:hover {
    color: #FFFF00;
    font-weight: bold;
  }
}